* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.card-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
}

.card-container-col {
  display: flex;
  width: 30%;
  flex-direction: column;
  min-height: inherit;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding-bottom: 0;
  }
  .card-container {
    flex-direction: column;
  }
  .card-container-col {
    width: 100%;
    justify-content: flex-start;
    min-height: fit-content;
  }
}
